.home-page {
    background-color: var(--black);
}

.home-page .titles {
    background-color: var(--light-blue);
}

.home-page h1,
.home-page h2 {
    font-family: 'Bebas Neue', cursive !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-page h1 {
    padding-top: 1vw;
    font-size: 8vw;
    animation: 1.5s fade-in-animation;
}

.home-page h2 {
    font-size: 2.5vw;
    padding-bottom: 1vw;
    animation: 2.5s fade-in-animation;
}

.home-page .carousel {
    margin-top: 4%;
    margin-bottom: 3%;
}
.home-page .carousel > .carousel-inner {
    aspect-ratio: 16/9;
}
.home-page .carousel-item, .home-page .carousel-item > img {
    height: 100%;
}
.home-page .carousel-item > img{
    object-fit: contain;
}

.home-page .home-carousel {
    animation: fade-in-animation 2s;
}

.home-page .links {
    border-bottom: solid 5px;
    border-image: repeating-linear-gradient(225deg, var(--darker-blue) 0%, var(--light-blue) 100%) 10;
}

.home-page .links h3 {
    background: linear-gradient(225deg, var(--white) 0%, var(--light-blue) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5%;
    font-size: 3.5vw;
}