.contact-page {
    display: block;
    text-align: center;
}

.contact-page .title {
    text-align: center;
}

.contact-page .content {
    display: inline-block;
}

.contact-page .content div {
    padding-top: 30px;
}

.contact-page .content div img {
    padding-bottom: 10px;
}

.contact-page .content div .keyboard-icon {
    height: 50px;
}
.contact-page .content div .message-icon {
    height: 70px;
}

.contact-page .content div h2 {
    font-size: 1.5em;
}