.home-page {
    background: rgb(135,217,255);
    background: linear-gradient(225deg, var(--light-blue) 0%, var(--blue) 100%); 
    font-family: 'Open Sans', sans-serif;
}

.home-page h1{
    font-family: 'Bebas Neue', cursive !important;
    padding-top: 0.3em;
    font-size: 10em;
    color: var(--white);
}

.home-page h2{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 3em;
    color: var(--white);
    margin-bottom: 2em;
}

.home-page .home-carousel{
    width: 100%;
}

.home-page .home-carousel img{
    height: 500px;
}