.listing-page{
    background-color: var(--black);
}
.listing-page .top-of-page{
    border-top: solid 5px;
    border-bottom: solid 5px;
    border-image: repeating-linear-gradient(225deg, var(--darker-blue) 0%, var(--light-blue) 100%) 10;
    font-family: 'Open Sans', sans-serif;
}

.listing-page h1{
    padding-top: 1vw;
    font-size: 8vw;
    border-bottom: solid 5px;;
    border-image: repeating-linear-gradient(225deg, var(--darker-blue) 0%, var(--light-blue) 100%) 10;
    background: linear-gradient(225deg, var(--white) 0%, var(--light-blue) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive !important;
    animation: 2s slide-right-listing-page;
}

@keyframes slide-right-listing-page{
    from {
       margin-left: -20%;
       opacity: 0;
    }

    to {
       margin-left: 0%;
       opacity: 100%;
    }
 }

.listing-page h2{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 5vw;
    opacity: 0;
    color: var(--white);
    animation: 2s slide-up-listing-page forwards;
}

@keyframes slide-up-listing-page{
    from {
       margin-top: -20%;
       opacity: 0;
    }

    to {
       margin-top: 0%;
       opacity: 100%;
    }
 }


.listing-page div.col-md-4.col-12{
    padding: 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(225deg, var(--white) 0%, var(--light-blue) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.listing-page .section-image{
    width: 100%;
    filter: grayscale(100%);
    transition: .3s;
    opacity: 0;
    animation: fade-in-animation 2s forwards;
}

.listing-page .section-image:hover{
    filter: grayscale(0%);
}

.listing-page h3{
    padding-top: 5%;
    font-family: 'Bebas Neue', cursive !important;
    font-size: 4vw;
    color: var(--white);
}

.listing-page .card-margin{
    margin-bottom: 5% ;
}
.listing-page .bot-of-page{
    border-bottom: solid 5px;
    border-image: repeating-linear-gradient(225deg, var(--darker-blue) 0%, var(--light-blue) 100%) 10;
}
