:root {
  --white : #F5EDED;
  --light-blue: #87D9FF;
  --blue: #5784C1;
  --darker-blue: #094FAC;
  --black: #212529;
  --grey: #c4c4c4;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

body::selection{
  background-color: var(--light-blue);
}

#root {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes fade-in-animation{
  from {
    opacity: 1%;
  }

  to {
    opacity: 100%;
  }
}

img{
  user-select: none;
}