:root {
  --white: #F5EDED;
  --light-blue: #87D9FF;
  --blue: #5784C1;
  --darker-blue: #094FAC;
  --black: #212529;
  --grey: #c4c4c4;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes fade-in-animation {
  from {
    opacity: 1%;
  }

  to {
    opacity: 100%;
  }
}

img{
  user-select: none;
}

.Content-container {
  flex-grow: 1;
}

.links{
  font-family: 'Bebas Neue', cursive !important;
  text-align: center;
  padding-bottom: 7%;
  margin: 0;
  animation: fade-in-animation 2s;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-design{
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 7%;
  padding-bottom: 7%;
  border: 1px var(--black) solid;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  color: var(--black);
  font-size: 3vw;
  text-decoration: none;
  transition: .5s;
  margin: 0;
}

.button-design:hover{
  background-size: 110%;
  font-size: 3.3vw;
  color: var(--black);
}